<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <default>
        <ruslan_config>
            <general>
                <module_enabled>1</module_enabled>
                <greeting_text>Следует отметить, что глубокий уровень погружения обеспечивает широкому кругу (специалистов) участие в формировании анализа существующих паттернов поведения. Приятно, граждане, наблюдать, как непосредственные участники технического прогресса заблокированы в рамках своих собственных рациональных ограничений. Господа, сплочённость команды профессионалов создаёт необходимость включения в производственный план целого ряда внеочередных мероприятий с учётом комплекса благоприятных перспектив. Предварительные выводы неутешительны: существующая теория способствует повышению качества анализа существующих паттернов поведения.</greeting_text>
                <qty_enabled>1</qty_enabled>
                <qty>1</qty>
            </general>
        </ruslan_config>
    </default>
</config>