<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="Amasty_RusDolModule" translate="label" sortOrder="10">
            <label>Amasty RusDolModule</label>
        </tab>

        <section id="ruslan_config" translate="label" sortOrder="2"
                 showInDefault="1" showInWebsite="1" showInStore="1">
            <label>RusDolModule config</label>
            <tab>Amasty_RusDolModule</tab>
            <resource>Amasty_RusDolModule::config</resource>
            <group id="general" translate="label" sortOrder="1"
                   showInDefault="1" showInWebsite="1" showInStore="1">
                <label>General Conf</label>
                <field id="module_enabled" type="select" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Is module enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>

                <field id="greeting_text" type="textarea"
                       showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Greeting text</label>
                    <validate>required-entry</validate>
                    <depends>
                        <field id="module_enabled">1</field>
                    </depends>
                </field>

                <field id="qty_enabled" type="select" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Is QTY field enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <depends>
                        <field id="module_enabled">1</field>
                    </depends>
                </field>

                <field id="qty" type="text"
                       showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Default QTY</label>
                    <validate>validate-number validate-digits validate-zero-or-greater</validate>
                    <depends>
                        <field id="module_enabled">1</field>
                        <field id="qty_enabled">1</field>
                    </depends>
                </field>
            </group>

            <group id="email_general" translate="label" sortOrder="2" showInDefault="1"
                   showInWebsite="1" showInStore="1">
                <label>Email Configuration</label>
                <field id="email_to" type="text" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Email To</label>
                    <validate>validate-email</validate>
                </field>

                <field id="blacklist_template" translate="label" type="select" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>Select Template</label>
                    <source_model>Magento\Config\Model\Config\Source\Email\Template</source_model>
                </field>
            </group>

            <group id="cron_general" translate="label" sortOrder="3" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Cron Settings</label>
                <field id="set_cron_schedule" type="text" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Set Cron Schedule</label>
                </field>
            </group>
        </section>
    </system>
</config>